.SignsHolder {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    align-items: center;
    justify-content: space-around;
}

.ParentContainer {
    border: solid black;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(163, 177, 138, 0.7);
}


.resultImg {
    margin-bottom: 45px;
}

.PuzzleSolver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: auto;
}

.borderLeftRight {
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid black;
    border-left: solid black;
}

span {
    font-size: 50px;
}

.ResultBorder {
    border: solid black;
    margin-top: 35px;
    background-color: rgba(163, 177, 138, 0.7);
}

.HoverEffect {
    transition: transform 0.3s ease-in-out;
}

.HoverEffect:hover {
    transform: scale(1.1);

}

/* 
.flexContainer {
    aspect-ratio: 1;
    background: white;
    border-radius: 6px;
    padding: 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2sease;
}

.flexContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
} */