.SignsHolder {
    display: flex;
    flex-wrap: wrap;
    /* gap: 10px; */
    justify-content: center;
}

.sign:Hover {
    transform: scale(1.2);
}

.sign {
    width: calc(33.33% - 10px);
    background-color: rgba(210, 255, 132, 0.4);
    border-radius: 5%;
    height: 66px;
    text-align: center;
    margin: 3px;
    padding-top: 1px;
    border: 2px solid #333;
    transition: transform 0.175s ease-in-out;
}

.ParentContainer {
    position: relative;
    border: solid black;
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgba(163, 177, 138, 0.4);
    border-radius: 2%;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("imgs/bigContainer-bg.avif");
    background-size: cover;
    background-position: center;
}


.resultImg {
    margin-bottom: 45px;
    border: 2px solid #333;
    margin-left: auto;
    margin-right: auto;
    width: 101.54px;
    height: 71px;
    padding-top: 9px;
    border-radius: 5%;
}

.PuzzleSolver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: auto;
}

.borderLeftRight {
    padding-right: 10px;
    padding-left: 10px;
    border-right: solid black;
    border-left: solid black;
}

span {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: rgb(51, 65, 85) 0px 2px 0px;
}

.ResultBorder {
    border: solid black;
    margin-top: 35px;
    background-color: rgba(163, 177, 138, 0.7);
    margin-right: 20px;
    margin-left: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("imgs/1.avif");
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-position: center; */
}

.Title {
    margin-bottom: 100px;
    color: white;
    text-shadow: rgba(2, 6, 23, 0.8) 4px 5px 0px;
}

.XYZ {
    text-shadow: rgba(2, 6, 23, 0.8) 4px 5px 0px;
    color: white;
}